# Auto detect text files and perform LF normalization
* text=auto

# Linguist overrides
.eslintrc linguist-language=JSON
.luarc linguist-language=JSON
.prettierrc linguist-language=JSON
.yarnrc linguist-language=sh
wally.lock linguist-language=TOML
